@model List<Appointment>
@totalCost int

@{
    ViewData["Title"] = "Home Page";
}
<div id="TotalCost">@Model.TotalCost</div>
<div id="calendar"></div>

@section scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarElement = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarElement, {
                initialDate: '@DateTime.Today.ToString("yyyy-MM-dd")',
                initialView: 'timeGridDay',
                slotDuration: '00:30:00',
                slotLabelInterval: '01:00:00',
                allDaySlot: false,
                height: 'auto',
                headerToolbar: {
                    left: '',
                    center: 'title',
                    right: ''
                },

                businessHours: {
                    daysOfWeek: [1, 2, 3, 4, 5], 
                    startTime: '09:00',
                    endTime: '17:00'
                },

                slotMinTime: '09:00',
                slotMaxTime: '17:00',

                events: [
                    @foreach (var appointment in Model)
                    {
                        @Html.Raw("{");
                        @Html.Raw($"title: '{appointment.Name} - {appointment.Animal}',");
                        @Html.Raw($"start: '{appointment.Date.ToString("yyyy-MM-ddTHH:mm:ss")}',");
                        @Html.Raw($"end: '{appointment.Date.Add(appointment.AppointmentLength).ToString("yyyy-MM-ddTHH:mm:ss")}'");
                        @Html.Raw("},");
                    }
                ]
            });

            calendar.render();
        });
    </script>
}
<div style="margin-top: 20px; text-align: center;">
    <a asp-action="Create" class="btn btn-primary">Create Appointment</a>
</div>